<div class="row col-sm-4 offset-4 mt-3">
  <div class="col-sm-11">
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite o planeta desejado">
  </div>
  <div class="col-sm-1">
    <button class="btn btn-primary offset-md-11" type="button">Pesquisar</button>
  </div>


</div>



<div class="row mt-3">
  <div class=" col-sm-3 mb-1" *ngFor="let variavel of planetas">

    <div class="card-deck">
      <div class="card">
        <div class="card-body text-center ">
          Nome: {{variavel.name}} <br>
          Periodo: {{variavel.rotation_period}} <br>
          Diametro: {{variavel.diameter}} <br>
          Clima: {{variavel.climate}} <br>
          Terreno: {{variavel.gravity}} <br>
          Population: {{variavel.population}} <br>

        </div>
      </div>
    </div>
  </div>


</div>



